apiVersion: v1
kind: Secret
metadata:
  name: tokendashboard-postgres-secret
  namespace: my-namespace
type: Opaque
stringData:
  POSTGRES_DB: tokendashboard
  POSTGRES_USER: ${DB_USER}
  POSTGRES_PASSWORD: ${DB_PASSWORD}
